---
layout: default
seo:
  title: Peruvian Bowls | Ready Meals in Brisbane
  description: Amazing peruvian food for amazing busy people. Delivered right at your door.
  social_image:
  keywords:
  hide-from-google: true
step-1_image: https://source.unsplash.com/8Ogfqvw15Rg/1600x1600
step-2_image: https://source.unsplash.com/8Ogfqvw15Rg/1600x1600
step-3_image: https://source.unsplash.com/8Ogfqvw15Rg/1600x1600
---



<!-- Header & Menu -->

{% include header-nav.html %}

<!-- Banner section -->
<section class="bg-image grid-left padded tall-80 margin-fixed tall-60-sm">
    <div class="col-7_sm-12-middle">
      <h3>
        <span class="big-bold"> AMAZING PERUVIAN MEALS </span> <br>
        <span class="medium-bold"> for amazing busy people </span> <br>
      </h3>
      <h1> 
        <span class="highlight text-15">Ready Meals delivered right at your door.</span></h1>
      <a href="#" class="button"> Order now </a>
    </div>
</section>


<!-- How it Works Section  -->

<section class="padded center">
    <h2> How it works </h2>
    <div class="grid padded-1">
        <div class="col-4_sm-12 padded-1">
            <div class="hover-container" style="background-image:url('{{ page.step-1_image }}')">
            <div class="hover-overlay">
                <div class="hover-inner">
                    <h3> Choose your meals </h3>
                </div>
            </div>
            </div>
            <div class="padded">
                <h4>1. Choose between a weekly meal or just one meal. </h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, maxime, distinctio illum dolore architecto.</p>
            </div>
        </div>
        <div class="col-4_sm-12 padded-1">
            <div class="hover-container" style="background-image:url('{{ page.step-2_image }}')">
            <div class="hover-overlay">
                <div class="hover-inner">
                    <h3> We deliver them to your door </h3>
                </div>
            </div>
            </div>
            <div class="padded">
                <h4>2. Choose between a weekly meal or just one meal. </h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, maxime, distinctio illum dolore architecto.</p>
            </div>
        </div>
        <div class="col-4_sm-12 padded-1">
          <div class="hover-container" style="background-image:url('{{ page.step-3_image }}')">
            <div class="hover-overlay">
              <div class="hover-inner">
                    <h3> Heat & get obsessed with Peruvian Food </h3>
              </div>
            </div>
          </div>
          <div class="padded">
            <h4>3. Choose between a weekly meal or just one meal. </h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, maxime, distinctio illum dolore architecto.</p>
            </div>
        </div>
    </div>
</section>


<!--------------------  PERUVIAN FOOD BANNER -------------------->

<section class="bg-image grid-center fixed tall-70">
    <div class="col-6_sm-12-middle center">
      <h2 class="big-bold"> PERUVIAN FOOD </h2>
      <h3 class="not-bold"> This is a sub-heading </h3>
      <a href="#" class="button">Find out more</a>
    </div>
  </section>  

<!--------------------  WHY PERUVIAN BOWLS -------------------->

<section class="grid padded padded-l-0 padded-tb-lg">
    <div class="bg-image col-7_sm-12 tall-70">
    </div>
    <div class="col-5_sm-12-middle relative">
      <div class="bg-beige-over bg-over">
          <h2 class="big-bold"> Why Peruvian Bowls? </h2>
          <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p> 
        </div>
      </div>
  </section>
  

<!--------------------  MEAL PLANS -------------------->

  <section>
    <div class="grid flex-flip">
      <div class="col-6_sm-12 bg-image"></div>
      <div class="col-6_sm-12-middle padded">
        <h3> This this a heading </h3>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        <a class="button" href="#"> Read More > </a>
      </div>
    </div>
    <div class="grid flex-flip">
      <div class="col-6_sm-12 bg-image"></div>
      <div class="col-6_sm-12-middle padded">
        <h3> This this a heading </h3>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        <a class="button" href="#"> Explore > </a>
      </div>
    </div>
  </section>

<!--------------------  SHOP MEALS -------------------->

<section class="padded padded-t-lg">
  <div id='collection-component-1630493537967'></div>
</section>



<!--------------------  TESTIMONIAL SECTION -------------------->
    
{% include testimonial.html %}

<!--------------------  FAQ SECTION -------------------->

<section class="grid padded padded-tb-lg">

  <div class="col-8-left padded">
      <h3> FAQ</h3>
      <dl class="accordion">

        <dt>Panel 1</dt>
        <dd>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</dd>
      
        <dt>Panel 2</dt>
        <dd>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</dd>
      
        <dt>Panel 3</dt>
        <dd>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.</dd>
      
      </dl>
    </div>
    <div class="col-4">
      <div class="bg-image tall-60"></div>
    </div>
  </div>
  
</section>


<!--------------------  SUSCRIBE -------------------->

<section class="center padded bg-beige">
  <h3> Subscribe Now </h3>
  <p> This one could be connected to your email newsletter, like mailchimp or mailerlite or just a standard email form. </p>

  <form class="email-signup" action="https://formspree.io/your@email.com" method="POST">
    <input type="text" name="name" placeholder="Your Name">
    <input type="email" name="_replyto" placeholder="Your Email">
    <input type="submit" value="Send" class="button">
  </form>

</section>