---
layout: default
seo:
  title: Picaron Studio | Brand & Web Design in Adelaide
  description: Custom coded websites & unique brands created by a Peruvian couple and based in Adelaide, Australia.
  social_image:
  keywords: ['Picaron Studio, Web Design in Adelaide, Branding services in Adelaide, Independent Graphic Design Studio in Adelaide, Coded Websites in Adelaide, Branding for small businesses Adelaide, custom code websites South Australia, LGBT business Adelaide, LGBT business South Australia, Latin American Graphic Design Studio in Australia, Peruvian Graphic and web design studio in Australia']
  hide-from-google: false
---

{% include header-nav-index.html %}

<!-- Banner section -->
<section class="tall-70 center padded-lg padded-t sm-padded-tb-xlg tall-60-sm">

<div class="grid-middle">
    <div class="col-12-middle">
        <div>
            <h6 class="emphasis text-orange"> Hello </h6>  
            <span aria-hidden="true"></span>
        </div>
        <h3 class="big-text"> We empower you to be unique and stand out from the crowd through our designs </h3>
        <h1> A Brand & Web Design Studio operated by a Peruvian couple and based in Adelaide, Australia </h1>
    </div>
</div>

<!-- Social Menu -->
<div class="grid-bottom left" data-aos="fade-up" data-aos-offset="5">
    <div class="col-4_sm-12 social-menu">
        <a href="{{ site.data.site-settings.social.instagram_url }}">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="{{ site.data.site-settings.social.facebook_url }}">
            <i class="fab fa-facebook"></i>
        </a>
        <!-- <a href="{{ site.data.site-settings.social.youtube_url }}">
            <i class="fab fa-youtube"></i>
        </a>
        <a href="{{ site.data.site-settings.social.pinterest_url }}">
            <i class="fab fa-pinterest"></i>
        </a> -->
    </div>
</div>

</section>

<!--------------------  Featured Projects Section 1 -------------------->


{% include featured-projects.html %}



<!-- View full Portfolio Link  -->

<div class="col-12-middle center padded sm-padded-lg sm-padded-t-25">
    <h3 class="big-text-courier-2 margin-b-0"> Featured Projects </h3>
    <a href="/portfolio.html" class="button"> View Full Portfolio </a>
</div>


<!--------------------  About Us Working -------------------->

<section class="padded-tb-lg sm-padded-t-5">

    <div class="bg-beige grid-center center padded tall-90 tall-75-sm sm-padded-t-2 relative">
        
        <div class="col-6_sm-10 relative">
            <div class="bg-shadow-white"></div>
            <div class="bg-luval-1 bg-image"></div>
        </div>

        <div class="col-6_sm-12-middle bg-orange tall-50 padded tall-40-sm">
            <p class="padded-05"> After working in an office for five years, three years of travelling around New Zealand and Australia, we realised that this is what we love to do. Not only because of the creative side but the stories and dreams our clients have. </p>

            <p class="padded-05">That is why you can expect from us a lot of hard work, passion and doing the best for your business as if it was ours.</p>

            <a href="#" class="button"> Work with us </a>
        </div>

        <!-- Dos Picarones y corazones  -->
        <div class="col-12 picarones-love">
            <img src="images/picaron-studio37.png">
        </div>

    </div>
        
        
</section>


<!-- Cards Section  -->
<section class="padded-lg padded-tb grid sm-padded-tb-lg">

<div class="col-12-left">
    <h2 class="center medium-text"> We'd love to work with you</h2>
</div>

<div class="col-12 grid-equalHeight horizontal-scroll center">
    
    <!--    CARD 1    -->
    <div class="col-4_sm-7_xs-11 padded-sm padded-t-1"> 
        <div class="card bg-white">
            <div class="bg-image bg-tgs-8 landscape bg-radius-sm-t"></div>
            <div class="padded">
                <h3> Branding </h3>
                <ul> 
                    <li>Questionnaire + Discovery Call</li>
                    <li>Visual Moodboard</li>
                    <li>Color Palette + Typography</li>
                    <li>Main Logo</li>
                    <li>Secondary Logo</li>
                    <li>Submark</li>
                    <li>Pattern</li>
                </ul>
            </div>
            
            <div class="padded padded-t-0">
                <a href="/services.html/#branding" class="button"> View Details </a>
            </div>
            
            
        </div>
    </div>

    <!--    CARD 2    -->
    <div class="col-4_sm-7_xs-11 padded-sm padded-t-1"> 
        <div class="card bg-white">
            <div class="bg-image bg-web landscape bg-radius-sm-t"></div>
            <div class="padded">
                <h3> Web Design </h3>
                <ul> 
                    <li>Questionnaire + Discovery Call</li>
                    <li>Visual Moodboard</li>
                    <li>Color Palette + Typography</li>
                    <li>Up to 6 custom designed pages</li>
                    <li>Basic SEO set up and Google Analytics</li>
                    <li>Mobile optimization</li>
                    <li>Easy to update content</li>
                </ul>
            </div>
            
            <div class="padded padded-t-0">
                <a href="/services.html/#web" class="button"> View Details </a>
            </div>
            
            
        </div>
    </div>

    <!--    CARD 3    -->
    <div class="col-4_sm-7_xs-11 padded-sm padded-t-1"> 
        <div class="card bg-white">
            <div class="bg-image bg-social landscape bg-radius-sm-t"></div>
            <div class="padded">
                <h3> Social Media Kit </h3>
                <ul> 
                    <li>Questionnaire + Discovery Call</li>
                    <li>6 Post Templates</li>
                    <li>4 stories Templates</li>
                    <li>4 Highlight Covers</li>
                    <li>Fotographic Style Proposal</li>
                </ul>
            </div>
            
            <div class="padded padded-t-4">
                <a href="/services.html/#social" class="button"> View Details </a>
            </div>
            
            
        </div>
    </div>
    
    
</div>


</section>


<!--------------------  Testimonial section -------------------->

{% include testimonial.html %}


<!------------------------ Featured blog loop ------------------------>
<!-- <section class="padded-lg padded-b-2">

<div class="capped-width grid-center">

    <div class="col-12 padded-05 margin-b-1">
        <h2 class="medium-text"> Latest in the blog </h2>
    </div>

        {% assign featured_posts = site.posts | where: 'featured', true %}

        {% for post in featured_posts limit:3 %}

        <div class="col-12-middle grid-middle bg-white center">

            <div class="col-2_xs-12-middle padded-2">
                <p> {{ post.date | date_to_long_string }} </p>
            </div>

        
            <div class="col-8_xs-12-middle padded-2">
                <a href="{{ post.url }}">
                    <h2> {{ post.title }} </h2>
                </a>
            </div>

            <div class="col-2_xs-12-middle padded-2">
                {% for item in post.categories %}
                    <span class="tag"> {{item}} </span>
                {% endfor %}
            </div>

            <div class="col-12-middle">

                <hr class="long">

            </div>
            
        </div>

        {% endfor %}

    <div class="col-12-middle center padded-sm">
        <a href="#" class="button"> View more posts </a>
    </div>

</div>

</section> -->

<!-- About Us  -->
<section class="padded padded-r-0 sm-padded-t-5 grid-right">

    <div class="col-10-right">
        <div class="bg-image bg-luval-5 bg-radius-50 tall-70"></div>
    </div>

    <div class="col-10-right padded-t-1">
        <div class="bg-beige padded left">
            <h3> LGBT+ & Latino Business </h3>
            <p> As a LGBTQ+ and latino owned business we are here to help our community and everyone who loves and celebrates diversity. </p>
            <p> Picaron Studio isn't only a business for us is a way to express ourselves and be proud of who we are.</p>
            <a href="/about.html" class="button"> Get to know us more </a>
        </div>
    </div>
    
</section>


<!--------------------  Freebies section -------------------->

<!-- {% include freebies.html %} -->



<!--------------------  Instagram section -------------------->

{% include instagram.html %}



    



        
