
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- Slick Slider -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js" integrity="sha512-WNZwVebQjhSxEzwbettGuQgWxbpYdoLf7mH+25A7sfQbbxKeS5SQ9QBf97zOY4nOlwtksgDA/czSTmfj4DUEiQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
<!-- Animate on scroll -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<!-- LightWidget WIDGET -->
<script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>

<!-- SHOPIFY CODE -->
<script type="text/javascript">
    /*<![CDATA[*/
    (function () {
      var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
      if (window.ShopifyBuy) {
        if (window.ShopifyBuy.UI) {
          ShopifyBuyInit();
        } else {
          loadScript();
        }
      } else {
        loadScript();
      }
      function loadScript() {
        var script = document.createElement('script');
        script.async = true;
        script.src = scriptURL;
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
        script.onload = ShopifyBuyInit;
      }
      function ShopifyBuyInit() {
        var client = ShopifyBuy.buildClient({
          domain: 'peruvian-bowls.myshopify.com',
          storefrontAccessToken: '75699b9299b092ed1dc71e72f522ddb1',
        });
        ShopifyBuy.UI.onReady(client).then(function (ui) {
          ui.createComponent('collection', {
            id: '275849380012',
            node: document.getElementById('collection-component-1630493537967'),
            moneyFormat: '%24%7B%7Bamount%7D%7D',
            options: {
      "product": {
        "styles": {
          "product": {
            "@media (min-width: 601px)": {
              "max-width": "calc(33.33333% - 30px)",
              "margin-left": "30px",
              "margin-bottom": "50px",
              "width": "calc(33.33333% - 30px)"
            },
            "img": {
              "height": "calc(100% - 15px)",
              "position": "absolute",
              "left": "0",
              "right": "0",
              "top": "0"
            },
            "imgWrapper": {
              "padding-top": "calc(75% + 15px)",
              "position": "relative",
              "height": "0"
            }
          },
          "title": {
            "color": "#303030",
            "font-family": "Brandon Grotesque, sans-serif"
          },
          "button": {
            ":hover": {
              "background-color": "#d4442e"
            },
            "background-color": "#ec4b33",
            ":focus": {
              "background-color": "#d4442e"
            },
            "border-radius": "0px",
            "padding-left": "30px",
            "padding-right": "30px"
          },
          "price": {
            "color": "#303030",
            "font-family": "Brandon Grotesque, sans-serif"
          },
          "compareAt": {
            "color": "#303030",
            "font-family": "Brandon Grotesque, sans-serif"
          },
          "unitPrice": {
            "color": "#303030",
            "font-family": "Brandon Grotesque, sans-serif"
          }
        },
        "buttonDestination": "modal",
        "contents": {
          "options": false
        },
        "text": {
          "button": "View details",
          "font-family": "Brandon Grotesque, sans-serif"
        }
      },
      "productSet": {
        "styles": {
          "products": {
            "@media (min-width: 601px)": {
              "margin-left": "-30px"
            }
          }
        }
      },
      "modalProduct": {
        "contents": {
          "img": false,
          "imgWithCarousel": true,
          "button": false,
          "buttonWithQuantity": true
        },
        "styles": {
          "product": {
            "@media (min-width: 601px)": {
              "max-width": "100%",
              "margin-left": "0px",
              "margin-bottom": "0px"
            }
          },
          "button": {
            ":hover": {
              "background-color": "#d4442e"
            },
            "background-color": "#ec4b33",
            ":focus": {
              "background-color": "#d4442e"
            },
            "border-radius": "0px",
            "padding-left": "30px",
            "padding-right": "30px"
          },
          "title": {
            "font-family": "Brandon Grotesque, sans-serif",
            "font-weight": "bold",
            "font-size": "26px",
            "color": "#303030"
          },
          "price": {
            "font-family": "Brandon Grotesque, sans-serif",
            "font-weight": "normal",
            "font-size": "18px",
            "color": "#303030"
          },
          "compareAt": {
            "font-family": "Brandon Grotesque, sans-serif",
            "font-weight": "normal",
            "font-size": "15.299999999999999px",
            "color": "#303030"
          },
          "unitPrice": {
            "font-family": "Brandon Grotesque, sans-serif",
            "font-weight": "normal",
            "font-size": "15.299999999999999px",
            "color": "#303030"
          },
          "description": {
            "color": "#303030",
            "font-family": "Brandon Grotesque, sans-serif"
          }
        },
        "text": {
          "button": "Add to cart",
          "font-family": "Brandon Grotesque, sans-serif"
        }
      },
      "modal": {
        "styles": {
          "modal": {
            "background-color": "#fcf3e2"
          }
        }
      },
      "option": {},
      "cart": {
        "styles": {
          "button": {
            ":hover": {
              "background-color": "#d4442e"
            },
            "background-color": "#ec4b33",
            ":focus": {
              "background-color": "#d4442e"
            },
            "border-radius": "0px"
          },
          "title": {
            "color": "#303030",
            "font-family": "Brandon Grotesque, sans-serif"
          },
          "header": {
            "color": "#303030",
            "font-family": "Brandon Grotesque, sans-serif"
          },
          "lineItems": {
            "color": "#303030",
            "font-family": "Brandon Grotesque, sans-serif"
          },
          "subtotalText": {
            "color": "#303030",
            "font-family": "Brandon Grotesque, sans-serif"
          },
          "subtotal": {
            "color": "#303030",
            "font-family": "Brandon Grotesque, sans-serif"
          },
          "notice": {
            "color": "#303030",
            "font-family": "Brandon Grotesque, sans-serif"
          },
          "currency": {
            "color": "#303030",
            "font-family": "Brandon Grotesque, sans-serif"
          },
          "close": {
            "color": "#303030",
            ":hover": {
              "color": "#303030"
            }
          },
          "empty": {
            "color": "#303030",
            "font-family": "Brandon Grotesque, sans-serif"
          },
          "noteDescription": {
            "color": "#303030",
            "font-family": "Brandon Grotesque, sans-serif"
          },
          "discountText": {
            "color": "#303030",
            "font-family": "Brandon Grotesque, sans-serif"
          },
          "discountIcon": {
            "fill": "#303030",
            "font-family": "Brandon Grotesque, sans-serif"
          },
          "discountAmount": {
            "color": "#303030",
            "font-family": "Brandon Grotesque, sans-serif"
          },
          "cart": {
            "background-color": "#fcf3e2"
          },
          "footer": {
            "background-color": "#fcf3e2"
          }
        },
        "text": {
          "total": "Subtotal",
          "button": "Checkout",
          "noteDescription": "Tell us if you have any allergies or want something special, we will contact you to discuss it",
          "font-family": "Brandon Grotesque, sans-serif"
        },
        "contents": {
          "note": true
        }
      },
      "toggle": {
        "styles": {
          "toggle": {
            "background-color": "#ec4b33",
            ":hover": {
              "background-color": "#d4442e"
            },
            ":focus": {
              "background-color": "#d4442e"
            }
          }
        }
      },
      "lineItem": {
        "styles": {
          "variantTitle": {
            "color": "#303030",
            "font-family": "Brandon Grotesque, sans-serif"
          },
          "title": {
            "color": "#303030",
            "font-family": "Brandon Grotesque, sans-serif"
          },
          "price": {
            "color": "#303030",
            "font-family": "Brandon Grotesque, sans-serif"
          },
          "fullPrice": {
            "color": "#303030",
            "font-family": "Brandon Grotesque, sans-serif"
          },
          "discount": {
            "color": "#303030",
            "font-family": "Brandon Grotesque, sans-serif"
          },
          "discountIcon": {
            "fill": "#303030",
            "font-family": "Brandon Grotesque, sans-serif"
          },
          "quantity": {
            "color": "#303030",
            "font-family": "Brandon Grotesque, sans-serif"
          },
          "quantityIncrement": {
            "color": "#303030",
            "border-color": "#303030",
            "font-family": "Brandon Grotesque, sans-serif"
          },
          "quantityDecrement": {
            "color": "#303030",
            "border-color": "#303030",
            "font-family": "Brandon Grotesque, sans-serif"
          },
          "quantityInput": {
            "color": "#303030",
            "border-color": "#303030",
            "font-family": "Brandon Grotesque, sans-serif"
          }
        }
      }
    },
          });
        });
      }
    })();
    /*]]>*/
    </script>

<!-- Custome Javascript file -->
<script src="scripts.js"></script>
