<!-- Styles  -->
<style> 

    :root {
        --dark-text: {{ site.data.site-settings.design.dark-text_color }} ;
        --grey-text: {{ site.data.site-settings.design.grey-text_color }} ;
        --light-text: {{ site.data.site-settings.design.light-text_color }};
        --orange-text: {{ site.data.site-settings.design.orange-text_color }};
        --pink-text: {{ site.data.site-settings.design.pink-text_color }};
        --light-pink-text: {{ site.data.site-settings.design.light-pink-text_color }};
        --green: {{ site.data.site-settings.design.green_color }};
        --light-green: {{ site.data.site-settings.design.light-green_color }};
        --orange: {{ site.data.site-settings.design.orange_color }};
        --orange-light: {{ site.data.site-settings.design.orange-light_color }};
        --pink: {{ site.data.site-settings.design.pink_color }};
        --light: {{ site.data.site-settings.design.light_color }};
        --beige: {{ site.data.site-settings.design.beige_color }};
        --white: {{ site.data.site-settings.design.white_color }};
    }

</style> 