
<footer class="grid-bottom padded padded-b-0 sm-text-center">
    <!-- column -->
    <div class="col-3_sm-12 padded-1">
      <h2 class="logo"> Logo </h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
    </div>
    <div class="col-1 sm-hidden"> <!-- empty filler --> </div>
  
    <!-- column -->
    <div class="col-3_sm-4_xs-12 padded-1 hide-sm">
      <h4 class="uppercase"> Our Services </h4>
      <nav>
        <a href="#"> Lorem ipsum </a>
        <a href="#"> Dolor sit </a>
        <a href="#"> Consectetur </a>
        <a href="#"> Ut enim ad </a>
      </nav>
    </div>
  
    <!-- column -->
    <div class="col-3_sm-4_xs-12 padded-1">
      <h4 class="uppercase"> Explore </h4>
      <nav>
        <a href="#"> Lorem ipsum </a>
        <a href="#"> Dolor sit </a>
        <a href="#"> Consectetur </a>
        <a href="#"> Ut enim ad </a>
      </nav>
    </div>
  
    <!-- column -->
    <div class="col-2_sm-4_xs-12 padded-1">
      <h4 class="uppercase"> Connect </h4>
      <nav>
        <a href="#"> Facebook </a>
        <a href="#"> Instagram </a>
        <a href="#"> Pinterest </a>
        <a href="#"> Youtube </a>
      </nav>
    </div>

    <div class="col-12 center padded-t-1">
        <p class="subtitle margin-b-0"> Website by
            <a href="#"> Picaron Studio
            </a>
        </p>
        <p class="subtitle"> Copyright 2021</p>
    </div>

  </footer>
  