
<footer class="grid-middle-spaceBetween padded padded-b-1 sm-text-center">

    <div class="col-4_sm-12-top padded sm-inline">
        <nav>
            <h4 class="padded-05"> Navigate </h4>
            <a href="/index.html"> Home </a>
            <a href="/portfolio.html"> Portfolio </a>
            <a href="/about.html"> About </a>
            <a href="/services.html"> Services </a>
            <a href="/contact.html"> Contact </a> 
        </nav>
    </div>

    <div class="col-4_sm-12-top padded">
        <h4 class="padded-05"> Say hi ! </h4>

        <form class="form-style-sm" name="footer" method="POST" data-netlify="true" action="/index.html/#thankyou">

            <input type="text" name="_name" id="_name" placeholder="Name" />
            
            <input type="email" name="_replyto" id="_replyto" placeholder="Email" />
            
            <textarea name="message" id="message" placeholder="Hi, I want to work with you"></textarea>
            
            <button type="submit" class="button-pink" id="submit"> SUBMIT </button>

        </form>

    </div>

    <div class="col-4_sm-12-top padded center sm-inline">
        <nav>
            <h4 class="padded-05"> Let's connect </h4>
            <a href="{{ site.data.site-settings.social.instagram_url }}">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="{{ site.data.site-settings.social.facebook_url }}">
                <i class="fab fa-facebook"></i>
            </a>
            <!-- <a href="#">
                <i class="fab fa-youtube"></i>
            </a>
            <a href="#">
                <i class="fab fa-pinterest"></i>
            </a> -->
        </nav>
    </div>

    <div class="col-12 center padded-b-0">
        <p class="subtle margin-b-0"> Website by </p>
        <a href="#">
            <p class="subtle"> Picaron Studio </p>
        </a>
        <p class="subtitle"> Copyright 2021</p>
    </div>
    
    
</footer>