<section class="center padded padded-t padded-b-0">
  <h2> Reviews </h2>
  <div class="grid padded-1">

    <div class="col-4_sm-12 padded-1">
      <div class="card">
        <img src="https://source.unsplash.com/8Ogfqvw15Rg/1600x1600" class="profile">
        <p class="author"> John </p>
        <p class="company"> Envato </p>
        <p>"Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur."</p>
        <span> ★ ★ ★ ★ ★ </span>
      </div>
    </div>

    <div class="col-4_sm-12 padded-1">
      <div class="card">
        <img src="https://source.unsplash.com/8Ogfqvw15Rg/1600x1600" class="profile">
        <p class="author"> Jane </p>
        <p class="company"> The Butchers Shop </p>
        <p>"Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur."</p>
        <span> ★ ★ ★ ★ ★ </span>
      </div>
    </div>

    <div class="col-4_sm-12 padded-1">
      <div class="card">
        <img src="https://source.unsplash.com/8Ogfqvw15Rg/1600x1600" class="profile">
        <p class="author"> Emilio </p>
        <p class="company"> EON </p>
        <p>"Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur."</p>
        <span> ★ ★ ★ ★ ★ </span>
      </div>
    </div>

    <div class="col-12 center padded-1">
      <a href="https://goo.gl/maps/jCkQab3cxJJknoQP7" class="button" target="_blank"> View our reviews in Google </a>
    </div>

</section>